.App {
  text-align: center;
  font-size: 2rem;
  /* background-color: aquamarine; */
}

.header {
  /* background-color: blueviolet; */
  color: rgb(58, 56, 60);
  margin-top: 2rem;
  padding-top: 4rem;
}

.submit-form {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

.submit-button-div {
  /* background-color: rgb(104, 104, 175); */
  padding: 1rem;
}

.submit-input {
  /* background-color: rgb(45, 45, 76); */
  padding: 1rem;
}

.input {
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.submit-button {
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  font-weight: bold;
  background-color: pink;
  color: rgb(198, 33, 179);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.submit-button:hover {
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  font-weight: bold;
  /* background-color: rgb(89, 13, 25); */
  color: rgb(222, 206, 220);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .rendered-list {
background-color: blanchedalmond;
} */

/* .list-item {
  background-color: rgb(93, 124, 114);
} */
